<table class="table table-stripped">


    <tr ng-repeat="album in albums | orderBy: ['title']">

        <td>
            <a>{{ :: album.title}}</a>
        </td>
        <td>
            <img ng-src="images/{{ ::album.image}}"/>

        </td>
        <td>
            <a>{{ :: album.year}}</a>
        </td>
        <td>
            <a>{{ :: album.band.name}}</a>
        </td>
            <td>
                <ul>
                    <li ng-repeat="track in album.tracklist">{{ ::track}}</li>
                </ul>
            </td>
    </tr>
</table>